:root {
  --border-color: #bbb;
  --border-radius: 25px;
  --color-accent: #ff3400;
  --color-body: #918ca4;
  --color-headings: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  /* 62.5 % of 16 px(default) = 10px (makes calculation easier when defining font size in rem for other elements) */
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5; /* 1.5 of current font */
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin-left 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  color: beige;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap; /* text will not go on 2nd line  */
}

.badge--primary {
  background-color: var(--color-primary);
}

.badge--secondary {
  background-color: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* list */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__items {
  display: inline-block;
  margin-right: 1.5rem;
}

.list--tick {
  list-style-image: url(../Images/tick.svg);
}

.list--tick .list__items {
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 25px;
  height: 25px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon--white {
  fill: white;
}

.icon-container {
  background: #c0c3de;
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--color-accent);
}
/* Buttons */

.btn {
  border: 0;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background-color: #549cfb;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background-color: #58daf1;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background-color: #f5552d;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: #fff;
  border: 1px solid var(--color-headings);
  color: var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* input */

.input {
  border-radius: var(--border-radius);
  border: 1.5px solid var(--border-color);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 2rem;
}

::placeholder {
  color: #b5bdc8;
}

.input-group {
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  display: flex;
  margin-top: 1rem;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1rem 2rem;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Card */

.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #999;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}
.card-primary .card__header {
  background: var(--color-primary);
  color: #fff;
}
.card-secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

/* Plans */

.plan {
  width: 25%;
  padding: 2rem;
  transition: transform 0.2s;
}

.plan__name {
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.plan__price {
  font-size: 6rem;
  font-weight: 300;
}

.plan__billing-cycle {
  margin-right: 1rem;
  opacity: 0.8;
}

.plan__description {
  display: block;
  font-weight: 300;
  word-spacing: 1px;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url(/Images/popular.svg);
  display: inline-block;
  width: 40px;
  position: absolute;
  top: -6px;
  right: 5%;
}
.plan:hover {
  transform: scale(1.1);
}

.plan--container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}
/* Media */
.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
}
.quote__text {
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-weight: 500;
  margin-bottom: 0;
}

.quote__org {
  font-size: 2rem;
  opacity: 0.6;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */

.testimonial {
  padding: 3rem;
}
.testimonial-image {
  position: relative;
}

.testimonial-image > img /*direct child selector*/ {
  width: 100%;
}

.testimonial-image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonial .quote__text,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* Callout */

.callout {
  border-radius: 20px;
  padding: 2rem;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__content {
  text-align: center;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content > h2 {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s; /*all for transforming all properties*/
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background: #000;
  color: #7b858b;
}

.block--dark .block__heading {
  color: #fff;
}

.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

/* Navigation bar/panel */

.navbar {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0.5rem;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: #333 1px solid;
}

.nav__item > a {
  color: #aaa;
}

.nav__item > a:hover {
  color: #fff;
}

.nav__toggler {
  opacity: 0.5;
}
.navbar.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #777;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Hero */
.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  padding: 2rem 0;
}
.hero__content {
  text-align: center;
  align-self: center;
}

.hero__heading {
  line-height: 1.1;
  color: #fff;
}

.hero__tagline {
  font-size: 1.5rem;
}

.hero__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    padding: 0 4rem;
  }
}

/* Domain */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block--domain .input-group {
  box-shadow: 0 0 30px 20px #e6ebee;
  border: 0;
  margin: 4rem 0;
}

.block--domain__prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .block--domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
