<div style="width: 30%; margin: 2.5rem">
  <div class="card card-primary">
    <header class="card__header">Card heading</header>
    <div class="card__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit
      quisquam,
    </div>
  </div>
</div>
<div style="width: 30%; margin: 2.5rem">
  <div class="card card-secondary">
    <header class="card__header">Card heading</header>
    <div class="card__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit
      quisquam,
    </div>
  </div>
</div>
