<body style="padding: 2rem">
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Products</h2>
      <svg class="icon icon--white collapsible__chevron">
        <use xlink:href="Images/sprite.svg#chevron"></use>
      </svg>
    </header>
    <footer class="collapsible__content">
      <ul class="list">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </ul>
    </footer>
  </div>
</body>
<script src="js/main.js"></script>
