<div class="block container block--domain">
  <div class="block__header">
    <h2>Starting at $9 per month</h2>
    <p class="block__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, soluta.
    </p>
  </div>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use
          xlink:href="Images/sprite.svg#search
          "
        ></use></svg
      >Search
    </button>
  </div>
  <ul class="list block--domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li><span class="badge badge--secondary">.sg $10</span></li>
    <li><span class="badge badge--secondary">.info $14</span></li>
    <li><span class="badge badge--secondary">.net $10</span></li>
    <li><span class="badge badge--secondary">.xyz $10</span></li>
    <li><span class="badge badge--secondary">.space $11</span></li>
  </ul>
</div>
