<footer class="block block--dark footer">
  <div class="container grid">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 2</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Random</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 2</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Content</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 2</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Content</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 2</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Content</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 2</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="Images/logo.png" alt="Logo of the brand" />
      <p class="footer__copyright">Copyright 2023 Mithun</p>
    </section>
  </div>
</footer>
