<div
  class="container"
  style="
    width: 35%;
    justify-content: center;
    box-shadow: 0 0 10px #aaa;
    border-radius: 15px;
    margin: 2rem;
    padding: 0.5rem 0;
  "
>
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, error! At
      ab corrupti magnam, dicta eos et veniam eum earum!
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__org">Google</p>
        </div>
      </div>
    </footer>
  </blockquote>
</div>
