<section class="block block--dark block-showcase">
  <div class="block__header">
    <h2>User Friendly Interface</h2>
  </div>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="Images/ipad.png" />
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum vero
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging ,Git and WP-CLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam,
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching and more</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
              quisquam, ex nostrum v
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
