<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial-image">
      <img src="Images/testimonial.jpg" alt="A smiling customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white">
          <use xlink:href="Images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem, error!
        At ab corrupti magnam, dicta eos et veniam eum earum! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Deleniti quaerat sed excepturi
        placeat veniam magni minima quis odio eaque! Soluta?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="quote__org">Google</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
